<div class="wrapper" *ngIf="tree; else loader">
  <button mat-raised-button color="primary" [routerLink]="['/list']">На главную</button>
  <div class="news">
    <app-item [item]="item"></app-item>
  </div>
  <p *ngIf="tree.length === 0">Комментариев нет</p>
  <tree-root [nodes]="tree">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <div>
        <div class="title">
          <div>{{node.data.author}}</div>
          <div>{{node.data.created_at | date}}</div>
        </div>
        <div [innerHTML]="node.data.text"></div>
      </div>
    </ng-template>
  </tree-root>
</div>

<ng-template #loader>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
